<!doctype html>
<html>
  <head>
    <title>File Upload</title>
  </head>
  <body>
    <h1>File Upload</h1>
    <form method="POST" action="" enctype="multipart/form-data">
        <input type="radio" id="min" name="mode" value="min">
		<label for="min">Min</label>
		<input type="radio" id="low" name="mode" value="low">
		<label for="low">Low</label>
		<input type="radio" id="mid" name="mode" value="mid">
		<label for="mid">Mid</label>
		<input type="radio" id="high" name="mode" value="high">
		<label for="high">High</label><br>
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>