<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8"> 
	<title>3-Select Photos</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">  
</head>


<body style="width:600px;height:400px">
	<div class="container">
		<div class="row clearfix">
			<div class="col-sm-12 column">
				<!--标题栏-->
				<div class="card bg-info text-white text-center">
					<div class="card-body">
						<h3 class="text-center text-info">Choose Protection Mode</h3></div>
				</div>
				<br>
				<!--/标题栏-->

				<!--轮播显示图片-->
				<form method="POST" id="imgForm" enctype="multipart/form-data" action="http://127.0.0.1:5000"> 
                    <div class="container">
                        <div class="col-6" id="previewbox" style="width: 330px; height: 330px; border: 10px dashed #ccc; text-align: center; font-size: 32px; color: #ccc; line-height: 330px;">
                            Your image
                        </div>
                        <div class="col-6" id="resultbox" style="width: 330px; height: 330px; border: 10px dashed #ccc; text-align: center; font-size: 32px; color: #ccc; line-height: 330px;">
                            Result image
                        </div>
                    </div>
                    
                    <img id="preview" src="#" alt="your image" style="display: none;"/>
                    <img id="result"  src="" alt="result imgage" style="display: none;"/>
					<br>
					<br>
					
					<input type='file' id="imgInput" name="file"/>
					<input type="radio" id="min" name="mode" value="min" checked>
					<label for="min">Min</label>
					<input type="radio" id="low" name="mode" value="low">
					<label for="low">Low</label>
					<input type="radio" id="mid" name="mode" value="mid">
					<label for="mid">Mid</label>
					<input type="radio" id="high" name="mode" value="high">
					<label for="high">High</label><br>

                    <input id="submitButton" type="submit" value="Submit">
				</form>
				<br>
                <br>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
	<script>
		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
			
				reader.onload = function(e) {
					$('#preview').attr('src', e.target.result).width(330).height(330);;
					$('#preview').show();
				}
			
				reader.readAsDataURL(input.files[0]); // convert to base64 string
			}
		}
		
		$("#imgInput").change(function() {
			$("#previewbox").hide();
			readURL(this);
		});

		$("#submitButton").click(function (e) {
            e.preventDefault();

            const req = new XMLHttpRequest();

            req.onload = () => {
                base64_src = "data:image/jpeg;charset=utf-8;base64," + req.response;
                $("#myimage").attr('src', base64_src);
            };

            const baseUrl = "http://127.0.0.1:5000/";

            var formData = new FormData();
            formData.append("file", document.getElementById("imgInput").files[0]);
            formData.append("mode", "min");
            req.open("POST", baseUrl);
            
            req.send(formData);
        });
	</script>
</body>